@font-face {
  font-family: "ui-icon";
  src: url('iconfont.ttf?t=1539939712388') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+*/
  url('iconfont.svg?t=1539939712388#iconfont') format('svg'); /* iOS 4.1- */
  /* iOS 4.1- */
}

.ui-icon {
  font-family: "ui-icon" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-daka2:before { content: "\e67e"; }

.icon-add:before { content: "\e61a"; }

.icon-bell:before { content: "\e632"; }

.icon-about:before { content: "\e629"; }

.icon-user:before { content: "\e663"; }

.icon-home:before { content: "\e6a9"; }

.icon-yingyong2:before { content: "\e6aa"; }

.icon-arrow-left:before { content: "\e679"; }

.icon-user-img:before { content: "\e699"; }

.icon-arrow-right:before { content: "\e636"; }

.icon-items3:before { content: "\e810"; }

.icon-gonggao3:before { content: "\e60c"; }

.icon-customer:before { content: "\e614"; }

.icon-success:before { content: "\e604"; }

.icon-setting:before { content: "\e655"; }

